.cover__link {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 740px;
  text-decoration: none;
  background-size: cover;
  background-image: url(../../../images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 32px;
  position: relative;
  z-index: 1;
}

.cover__link::before {
  content: '';
  background: #2a2c2f;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.cover__link:hover::before {
  opacity: 0.8;
}

@media screen and (max-width: 1140px) {
  .cover__link {
    min-height: 640px;
  }
}

@media screen and (max-width: 984px) {
  .cover__link {
    min-height: 480px;
  }
}

@media screen and (max-width: 568px) {
  .cover__link {
    min-height: 200px;
  }
}
