.photo-grid {
  margin: 0 auto;
  padding: 0 48px;
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

@media screen and (max-width: 1140px) {
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
  }
}

@media screen and (max-width: 984px) {
  .photo-grid {
    padding: 0 24px;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
}

@media screen and (max-width: 568px) {
  .photo-grid {
    padding: 0 16px;
    grid-template-columns: 1fr;
    gap: 12px;
  }
}