.content {
  display: flex;
  flex-direction: column;
  row-gap: 92px;
}

@media screen and (max-width: 984px) {
  .content {
    row-gap: 88px;
  }
}

@media screen and (max-width: 568px) {
  .content {
    row-gap: 64px;
  }
}