.place__url-heading {
  margin: 0 0 12px;
  padding: 0;
  color: #aaa;
  font-family: "Inter", Arial, sans-serif;
  font-size: 12px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 2px;
}

@media screen and (max-width: 568px) {
  .place__url-heading {
    padding: 0 16px 0;
  }
}