.intro__title {
  margin: 0 0 40px;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  font-size: 54px;
  line-height: 1.1;
  font-weight: 900;
}

@media screen and (max-width: 568px) {
  .intro__title {
    font-size: 32px;
  }
}